html body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

p{
  line-height: 1.5em;
}

h2{
  font-weight: 800;
}
.container {
	width: 80%;
	margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  background: white;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #00b25c;
}

a:hover {
  color: #00b25c;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #00b25c;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.active{
  color: #00b25c;
}

h1{
  color: #505050;
}
.item1, .aboutimg, .contactimg, .projectsimg { grid-area: homeimg; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'homeimg homeimg homeimg homeimg homeimg'
    'main main main main right'
    'footer footer footer footer footer';
  grid-gap: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-areas:
    'homeimg homeimg homeimg homeimg homeimg'
    'right right right right right'
    'footer footer footer footer footer';
  grid-gap: 10px;
}

.item1, .aboutimg, .contactimg, .projectsimg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.item1{
  background-image: url('./img/trees.jpg');
}


.aboutimg{
  background-image: url('./img/about.jpg');
}

.contactimg{
  background-image: url('./img/contact.jpg');
}

.projectsimg{
  background-image: url('./img/kapok.jpg');
}

.grid-container > div {
  text-align: left;
  padding: 20px 0;
  font-size: 16px;
}

.grid-container2 > div {
  text-align: left;
  padding: 20px 0;
  font-size: 16px;
}

.item2{
  margin: 5%;
}

.item3{
  margin: 5%;
}

.item4{
  background: linear-gradient(to right, #424242, #989898);
}

.gitLogo{
  padding-left: 45%;
  width: 200px;
}

.kapokLogo{
  width: 250px;
}

.card{
  color: white;
  background: linear-gradient(45deg, #00cec0, #00d66b);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}


button{
  color: #424242;
  text-transform: uppercase;
  background-color: white;
  padding: 15px 25px;
  width: 50%;
  border: none;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
}

form {
  width: 100%;
  /* To see the outline of the form */
  padding: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  padding-top: 1em;
}

input, textarea {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
  font-family: "Raleway", sans-serif;
}

input, textarea {
  color: #424242;
}


input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}

input:focus {
  outline: none;
  border: none;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 75px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #f2f2f2;
  border-width: 3px;
}

textarea:focus {
  outline: none;
  border: none;
}


.card2{
  color: white;
  background: linear-gradient(45deg, #00cec0, #00d66b);
  border-radius: 10px;

}

.columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.invictus{
  background-image: url('./img/invictus.jpg');
}

.honors{
  background-image: url('./img/honors.jpg');
}

.pevc{
  background-image: url('./img/pevc.jpeg');
}

.invictus, .honors, .pevc{
  margin: 0px;
  padding: 18%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
}

.col1{
  padding: 30px;
  margin: 20px;
}
